<!DOCTYPE html>
<html lang="es">
<script
    src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>SPA VueJS sin
        NodeJS</title>

    <!-- Bootstrap CSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet">
    <link rel="preconnect"
        href="https://fonts.googleapis.com">
    <link rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Viga&display=swap"
        rel="stylesheet">

    <!-- Vue desde CDN -->
    <script
        src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="stylesheet"
        href="audioNotas.css">
</head>

<body>

    <div id="app">

        <header>
            <h1>{{ Splendid }}
            </h1>
            <h2 id="titulo">
                Notas de Audio
            </h2>
        </header>

        <main>
            <!-- audio .wav -->
            <section
                class="card">
                <h2>Audios
                </h2>
                <!-- para cada audio -->
                <ul
                    class="list-group">
                    <li class="list-group-item list-group-item-action"
                        v-for="audio, id in audios"
                        :key="id"
                        @click="seleccionarAudio(audio)"
                        style="cursor: pointer;">
                        <small><b>{{renombrarFichero(audio)}}</b></small>


                    </li>
                </ul>
            </section>
            <br>

            <!-- transcripciones -->
            <section
                v-if="audioSeleccionado!=''"
                class="card">
                <h2>Transcripcion:
                </h2>
                <p>
                    <b>{{fechaLegible}}</b>
                    (
                    <small>{{audioSeleccionado}}</small>
                    )
                </p>

                <div class="btn-group mb-3"
                    role="group"
                    aria-label="Controles de audio">
                    <button
                        type="button"
                        class="btn btn-success"
                        @click="reproducirAudio(audioSeleccionado + '.wav')">
                        {{accionReproductor}}
                    </button>

                </div>

                <!-- campo de texto editable de 20 lineas con la transcripcion del audio seleccionado -->
                <textarea
                    class="form-control"
                    v-model="transcripcion"
                    rows="20"></textarea>

                <div
                    class="botonera">
                    <button
                        class="btn btn-primary me-2"
                        @click="guardarTranscripcion ">Guardar
                        Transcripción</button>
                    <button
                        class="btn btn-primary me-2"
                        @click="generarFicha ">Generar
                        Ficha</button>

                </div>

            </section>

            <br>

            <!-- Ficha -->
            <section
                class="card"
                v-if="ficha!==null">
                <h2>Ficha</h2>
                <textarea
                    class="form-control"
                    v-model="ficha"
                    rows="20"></textarea>

                <form
                    class="mt-4">
                    <div
                        class="row g-3 align-items-end">
                        <div
                            class="col-md-3">
                            <label
                                class="form-label">Timestamp</label>
                            <input
                                type="text"
                                class="form-control"
                                v-model="timestamp"
                                placeholder="00:00:00" />
                        </div>
                        <div
                            class="col-md-3">
                            <label
                                class="form-label">Localidad</label>
                            <input
                                type="text"
                                class="form-control"
                                v-model="localidad"
                                placeholder="Localidad" />
                        </div>
                        <div
                            class="col-md-3">
                            <label
                                class="form-label">Colmena</label>
                            <input
                                type="text"
                                class="form-control"
                                v-model="colmena"
                                placeholder="Colmena" />
                        </div>
                        <div
                            class="col-md-2">
                            <button
                                type="button"
                                class="btn btn-primary w-100"
                                @click="insertarFicha">
                                Insertar
                            </button>
                        </div>
                    </div>
                </form>
            </section>

        </main>

    </div>

    <script>
        const {createApp} = Vue;

        createApp({
            data() {
                return {
                    titulo: 'Notas de Audio',
                    audios: ["sdasd.wav", "asdasd.wav", "asdasd.wav"],
                    audioSeleccionado: "",
                    fechaLegible: "",
                    transcripcion: null,
                    ficha: null,
                    timestamp: '',
                    detalle: '',
                    reproductor: null,
                    accionReproductor: "Play"
                };
            }, methods: {
                reproducirAudio(audio) {
                    var url = 'https://atauri.es/splendid/revisiones/wav/' + audio;

                    //sin no hay reproductor, crear uno nuevo
                    if (!this.reproductor) {

                        this.reproductor = new Audio(url);
                        this.reproductor.play();
                    }

                    if (this.accionReproductor === "Pause" && this.reproductor) {
                        this.reproductor.pause();
                        this.accionReproductor = "Play";
                        return;
                    }

                    if (this.accionReproductor === "Play" && this.reproductor) {
                        this.reproductor.pause();
                        this.accionReproductor = "Pause";
                    }


                    this.reproductor.play();
                },
                renombrarFichero(nombre) {

                    try {
                        nombre = nombre.replace('.wav', '');
                    } catch (error) {
                        console.error('Error renombrando fichero:', error);
                    }
                    //pasar el nombre del fichero que es una fecha en formato [YYYY-MM-DD HH_MM] a
                    //   fomato dia y mes en formato texto 
                    try {
                        var partes = nombre.split(' ');
                        var fecha = partes[0].split('-');
                        var hora = partes[1].split('_');
                        var meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
                        var fechaLegible = fecha[2] + " de " + meses[parseInt(fecha[1]) - 1]
                            + ' ' + hora[0] + 'h ' + hora[1] + "m";
                        return fechaLegible;
                    } catch (error) {
                        return nombre
                    }

                },

                seleccionarAudio(audio) {
                    // quitar la extensión .wav
                    audio = audio.replace('.wav', '');

                    //pasar el nombre del fichero que es una fecha en formato [YYYY-MM-DD HH_MM] a
                    //   fomato dia y mes en formato texto
                    this.fechaLegible = this.renombrarFichero(audio);

                    this.accionReproductor = "Play";
                    if (this.reproductor) {
                        this.reproductor.pause();
                    }
                    this.reproductor = null;


                    this.audioSeleccionado = audio;
                    var url = 'https://atauri.es/notas/revisiones/transcribe/' + audio;

                    this.transcripcion = "lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                    /*
                    try {
                        const vm = this
                        axios.get(url)
                        .then(function (data){
                            vm.transcripcion = data.data               })
        
                        const datos = response.data;
        
                        this.audios = datos.map((nombre, index) => {
                            return {
                                id: index,
                                nombre: nombre,
                                url: nombre
                            };
                        });
        
                    }
                    catch (error) {
        
                        console.error('Error cargando audios:', error);
        
                    }
                    */

                },

                guardarTranscripcion() {
                    // Lógica para guardar la transcripción
                    //enviar la transcripcion al servidor con axios usando POST a la url
                    // https://atauri.es/notas/revisiones/txt2file/<nombre_audio> con el nombre del audio
                    var url = 'https://atauri.es/notas/revisiones/txt2file/' + this.audioSeleccionado;
                    axios.post(url, {
                        transcripcion: this.transcripcion
                    })

                },
                generarFicha() {
                    this.ficha = "Ficha generada para " + this.audioSeleccionado;
                },
                insertarFicha() {
                    this.ficha += `\n\nTimestamp: ${this.timestamp}`;
                    this.ficha += `\nDetalle: ${this.detalle}`;
                }

            },

            async mounted() {
                //descargar lista de audios desde el servidor
                try {
                    const response = await fetch(
                        'https://atauri.es/notas/revisiones/lista/wav'
                    );

                    const datos = await response.json();
                    this.audios = datos.archivos
                }
                catch (error) {

                    console.error('Error cargando audios:', error);
                }
            }
        }).mount('#app');
    </script>

</body>

</html>